html, body {
    margin: 0px;
    padding: 0px;
}
.scanex-svc-view {
    width: 400px;
}
#main {
    width: 100%;
}
#main > tbody > tr > td {
    vertical-align: top;
}
#main > tbody > tr > td:last-child {
    width: 100%;
}
#map {    
    height: 100vh;
}

#sidebar {
    overflow-y: auto;
    max-height: 100vh;
}