.scanex-svc-view .layer .collapsed {
    display: none;
}
.scanex-svc-view .layer .children {
    padding-left: 22px;
}
.scanex-svc-view .layer .scanex-svc-view-visible,
.scanex-svc-view .layer .scanex-svc-view-folder {    
    float: left;
}
.scanex-svc-view .layer .scanex-svc-view-show-info {
    margin: 0px 5px 5px 5px;
    float: right;
}
.scanex-svc-view .layer .header {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.scanex-svc-view .layer .header > * {
    vertical-align: top;
}