.scanex-svc-view .scanex-svc-view-link {
    border-radius: 3px;    
    border: 1px solid #778899;
    margin-top: 5px;
    margin-bottom: 5px;
}
.scanex-svc-view .scanex-svc-view-link > .header {
    padding: 10px;
    word-break: break-all;
    border-bottom: 1px solid #778899;
    background-color: #F0F8FF;
}
.scanex-svc-view .scanex-svc-view-link > .content {
    padding: 10px;    
}
.scanex-svc-view .scanex-svc-view-link > .header > .icon.close {
    float: right;
    margin: 5px;
}