.scanex-svc-view .scanex-svc-view-link {
    border-radius: 3px;    
    border: 1px solid #778899;
    margin-top: 5px;
    margin-bottom: 5px;
}
.scanex-svc-view .scanex-svc-view-link > .header {
    padding: 5px;
    border-bottom: 1px solid #778899;
    background-color: #F0F8FF;
}
.scanex-svc-view .scanex-svc-view-link > .header td {
    vertical-align: top;
}
.scanex-svc-view .scanex-svc-view-link > .header .service {    
    color: #4682B4;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    border: none;    
    white-space: nowrap;
    
}
.scanex-svc-view .scanex-svc-view-link > .header .title {
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all;
}
.scanex-svc-view .scanex-svc-view-link > .content {
    padding: 10px;
}