.scanex-svc-view > .header > * {
    vertical-align: middle;
}
.scanex-svc-view > .header > .url {
    width: 100%;
    height: 20px;
}
.scanex-svc-view .hidden {
    visibility: hidden;
}
.scanex-svc-view .icon,
.scanex-svc-view-dialog .icon {
    cursor: pointer;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.scanex-svc-view .scanex-svc-view-folder,
.scanex-svc-view .scanex-svc-view-visible {
    margin-right: 5px;
}