.scanex-svc-view {
    font-family: sans-serif;
}
.scanex-svc-view > .header > * {
    vertical-align: middle;
}
.scanex-svc-view > .header > button {
    border: 1px solid #4682B4;
    padding: 3px;
    color: #4682B4;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-weight: bold;    
    cursor: pointer;
}
.scanex-svc-view .hidden {
    visibility: hidden;
}
.scanex-svc-view .icon,
.scanex-svc-view-dialog .icon {
    cursor: pointer;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.scanex-svc-view .scanex-svc-view-folder,
.scanex-svc-view .scanex-svc-view-visible {
    margin-right: 5px;
}